<%- include("partials/header"); -%>
    <h1 class="heading">About</h1>
    <pre class="font-size">
The project is been developed under the guidance of <b> Dr Rahul Pachori </b> Sir and is completed by the team members:

Shaurya Singh
Rajiv Sirothia
Shashank Srivastava
    </pre>
    <p  class="font-size"> <%= aboutContent %> </p>

<!-- Developers Detail's -->
<div class="container mt-40">
    <h1 class="text-center">Mentor</h1>
    <div class="row mt-30 col d-flex justify-content-center">
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img src="https://www.juet.ac.in/uploads/RahulPachauri.jpg" width="80px" height="80px" alt="">
                <div class="box-content">
                    <h3 class="title">Dr. Rahul Pachauri</h3>
                    <h5 class="title">JUET</h5>
                </div>
            </div>
        </div>
        </div>
        <br>
        <h1 class="text-center">Developer's</h1>

        <div class="row mt-90 col d-flex justify-content-center">
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQE0J363ANxoEw/profile-displayphoto-shrink_800_800/0/1599051219194?e=1626307200&v=beta&t=m7AaCQfyeXw8HDu_GR3EgPEo98IMBG1Hi82V7rIa5nk" width="50px" height="80px" alt="">
                <div class="box-content">
                    <h3 class="title">Rajiv Sirothia</h3>
                    <ul class="icon">
                        <li><h4>MERN Developer</h4></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img src="https://media-exp1.licdn.com/dms/image/C5603AQEFYTQSxhzMQA/profile-displayphoto-shrink_400_400/0/1596187799456?e=1626307200&v=beta&t=6xln1HV774iilajM_iVeBPaGs1nAyyH8mMsGwLR8dAA" alt="">
                <div class="box-content">
                    <h3 class="title">Shaurya Singh</h3>
                    <ul class="icon">
                        <li><h4>Front-End Developer</h4></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFm0ytznj7txA/profile-displayphoto-shrink_400_400/0/1612775908922?e=1626307200&v=beta&t=ZR3jw03QMyggJgogKd_To5E0IYOhKYXvwZP6q_Xri-U" alt="">
                <div class="box-content">
                    <h3 class="title">Shashank Srivastava</h3>
                    <ul class="icon">
                        <li><h4>Full-Stack Developer</h4></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>

<%- include("partials/footer"); -%>
