<%- include("partials/header"); -%>
    <h1 class="heading">Contact</h1>
    <pre class="font-size">
    Mail your blog, articles at blogside@gmail.com or in case of any irregularities or utter delays do drop your 
    mail at rajivsirothia@gmail.com
    </pre>

    <div class="container">
        <div class="col-lg-offset-4 col-lg-4" id="panel">
            <h2>Get In Touch</h2>
    
            <form>
    
                <div class="group">
                    <input class="contactText" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="xlabel">Name</label>
                </div>
    
                <div class="group">
                    <input class="contactText" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="xlabel">Email</label>
                </div>
    
                <div class="group">
                    <input class="contactText" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="xlabel">Mobile No</label>
                </div>
    
                <div class="group">
                    <input class="contactText" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="xlabel">Message</label>
                </div>
                <div class="group">
                    <center> <button type="submit" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button></center>
                </div>
            </form>
    
        </div>
    </div>

    <br><br> <br><br>
    <br><br> <br><br>
    <br><br> <br><br>    


<%- include("partials/footer"); -%>
