
<%- include("partials/header"); -%>

    <ul type="disc"> 
    <li><h1 class="post-title"><%=title%></h1></li>
    <li><p  class="font-size"><%=content%></p></li>
    </ul>
    <br><br><br><br><br><br>



<%- include("partials/footer"); -%>
